.projects__reversed-list {
    list-style: none;
    margin: 4rem 0;
}

#projects{
    max-width: 120rem;
     margin: 0 auto;
}

.projects__info {
    margin: 4rem 0;
}

.logo_blue_pen {
    max-width: 300px;
    border-radius: 16px;
}